.dashboard {
  font-family: 'Roboto', sans-serif;
  background-color: #f7f8fa;
  min-height: 100vh;
  padding: 20px;
}

.dashboard-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e0e4e8;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.dashboard-title {
  color: #0366d6;
  font-size: 24px;
  font-weight: bold;
}

.section {
  margin-bottom: 20px;
}

.section h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 0 0 calc(20% - 20px); /* Ajusta el tamaño de las tarjetas */
  max-width: 100%;
  max-height: 300px; /* Asegura que las tarjetas no excedan el tamaño */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666666;
  line-height: 1.6;
}

.card-link {
  text-decoration: none; /* Elimina el subrayado del enlace */
  color: inherit; /* Hereda el color de texto del padre */
}

.mini-card-container {
  display: flex;
  gap: 20px;
  overflow-x: auto; /* Permite el desplazamiento horizontal si es necesario */
}

.mini-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 0 0 calc(20% - 20px); /* Ajusta el tamaño de las tarjetas */
  max-width: 15%; /* Asegura que las mini-cards no excedan el tamaño */
}

.mini-card img {
  width: 30%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 5px;
}

.mini-card p {
  font-size: 14px; /* Tamaño de fuente más pequeño para mini-cards */
  color: #666666;
  line-height: 1.4;
}

.mini-card p:first-of-type {
  font-size: 16px; /* Tamaño de fuente más grande para el título de mini-cards */
  font-weight: bold;
  color: #333333;
  margin-bottom: 3px;
}
