.footer {
    background-color: var(--primary-color);
    color: var(--white-color);
    text-align: center;
    width: auto;
  }
  
  .footer-content {
    padding: 1rem;
  }


  @media (max-width: 500px) {
    .footer {
        background-color: var(--primary-color);
        color: var(--white-color);
        text-align: center;
      }
  }
  
